textarea, .wtest {
  overflow: auto;
  width: 98%;
  font-family: Consolas, DejaVu Sans Mono, Monaco, Lucida Console, Liberation Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  height: 200px;
  background: #f8fff8;
}
#wtest {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}
#left, #right, #p50 {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 50%;
}
#p25 {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 25%;
}
#p {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#right {
  float: right;
}

a {
  text-decoration: none
}
a:hover {
  text-decoration: underline
}